.card {
  border: 1px solid #2003a0;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 16px;
}

.closeButton {
  background-color: #fff;
  color: #2f00ff;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.closeButton:hover {
  color: #1700e6;
}

.cardTitle {
  font-size: 18px;
  margin-bottom: 8px;
  color:#2600ff;
}

.cardContent {
  font-size: 14px;
  margin-bottom: 8px;
}

.cardImage {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-top: 16px;
  border-radius: 15px;
}
