/* @import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');
.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  border-color: #3800bb;
  padding: 20px;
}

.searchInput {
  font-family: 'Skranji';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  background-color: #007c11b4;
  padding: 8px;
  border: 1px solid #48d645;
  border-radius: 4px;
  margin-right: 8px;
  font-size: 14px;
  width: 200px;
}

.searchButton {
  background-color: #007c11b4;
  width: 70px;
  height: 35px;
  font-family: 'Skranji';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  color: #ebfff2;
  cursor: pointer;
  font-size: 14px;
  line-height: 16.8px;
  list-style: none;
  position: relative;
  text-align: center;
  z-index: 3;
  transition: .3s cubic-bezier(.25,1,.5,1);
  box-sizing: border-box;
}

.searchButton:hover {
  background-color: #08770894;
} */


@font-face{
  font-family: "fuente";
  src: url(../Fonts/AmaticSC-Bold.ttf);
}


.input{
  margin-top: 25px;
}

.animatedInput {
  border: 2px solid transparent;
  width: 500px;
  border-radius: 5px;
  padding: 8px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
  background-color:aliceblue;
  font-family: "fuente";
  font-size: 20px;
  box-shadow: 0px 9px 13px rgba(68, 190, 7, 0.672);
}


.animatedInput:focus {
  animation: borderAnimation 2s infinite;
}

@keyframes borderAnimation {
  0% {
    border-color: rgb(212, 0, 255);
  }
  25% {
    border-color: rgb(9, 95, 255);
  }
  50% {
    border-color: rgb(30, 131, 226);
  }
  75% {
    border-color: rgb(24, 180, 201);
  }
  100% {
    border-color: rgb(212, 0, 255);
  }
}

.button{
  background-color:rgb(250, 231, 88);
  border: none;
  border-radius: 5px;
  padding: 9px;
  font-family: "fuente";
  font-size: 23px;
  cursor: pointer;
  margin-left: 5px;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0px 9px 13px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background-color: rgb(193, 241, 116);
  color: black;
}

