@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');
.searchBar {
  display: flex;
  align-items: center;
  border-radius: 3px;
  border-color: #3800bb;
  justify-content: center;
}

.searchInput {
  font-family: 'Skranji';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  background-color: #007c11b4;
  padding: 8px;
  border: 1px solid #48d645;
  border-radius: 4px;
  margin-right: 8px;
  font-size: 14px;
  width: 200px;
}

.searchButton {
  background-color: #007c11b4;
  width: 70px;
  height: 35px;
  font-family: 'Skranji';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  color: #ebfff2;
  cursor: pointer;
  font-size: 14px;
  line-height: 16.8px;
  list-style: none;
  position: relative;
  text-align: center;
  z-index: 3;
  transition: .3s cubic-bezier(.25,1,.5,1);
  box-sizing: border-box;
}

.searchButton:hover {
  background-color: #08770894;
}
