@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');


.card {
  border-spacing: 10px;
  border: 3px solid #000000;
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 50px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #007c11b4;
  box-shadow: 0 2px 4px #08770894;
}

.closeButton {
border: 1px solid #ffffff;
width: 20px;
height: 20px;
position: relative;
/* background-image: url('/server/public/Img/close-button-icon-png-16.jpg'); */
background-size: cover;
}


.cardTitle {
  font-family: 'Skranji';
  font-size: 22px;
  margin-bottom: 8px;
  color:#000000;
}

.cardContent {
  font-family: 'Skranji';
  font-size: 15px;
  margin-bottom: 8px;
  color: #ffffff;
}

.cardImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  max-width: 200px;
  max-height: 200px;
  height: auto;
  margin-top: 25px;
  border-radius: 150px;
  border:3px solid rgb(0, 0, 0);
}

